{% extends "layout.html" %}
{% block head %}
	{{ super() }}
	<!-- https://leafletjs.com/examples/quick-start/ -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
		integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
		crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
		integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
		crossorigin=""></script>
		
	<style>
		#map-follow-label {
			position: absolute;
			background: rgba(255, 255, 255, 0.7);
			left: 0;
			bottom: 0;
			z-index: 1000;
			margin: 0;
			padding: 0 0.2rem;
		}
	</style>
{% endblock %}
{% block body %}
	<body>
    <div id="top">
        <h1 class="text-center">Realtime</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="form-row ml-2" style="display: none">
                <label class="sr-only" for="add-chart-sel">Add a chart</label>
                <select id="add-chart-sel" class="form-control" onchange="showChart(this.value)">
                    <option value="def" disabled selected>Unhide Chart</option>
                </select>
            </div>
        </div>
    </div>

    <div class="container">
    <div id="chart-row" class="row grid-stack">

        <!-- Top row for map
        <div class="row">
            <div id="map"></div>
        </div>
        -->

		<div id="container-map" class="card-container col-12 col-lg-6 m-0 p-1">
			<div id="card-map" class="card m-1">
				<div class="card-header" data-toggle="collapse" data-target="#card-body-wrap-map">
					<p style="float: left; margin: 0" class="btn-link text-reset" onclick="hideChart('map')">Hide</p>
					Location: <span id="head-map"></span>
					<p style="float: right; margin: 0" class="btn-link text-reset" onclick="">Pin</p>
				</div>

				<div id="card-body-wrap-map" class="h-100 collapse show" style="transition: height 0.01s;">
					<div class="card-body p-0">
						<div id="map" style="height: 276px;"></div>
						<label id="map-follow-label"><input type="checkbox" id="map-follow" checked> Follow car</label>
					</div>
				</div>
			</div>
		</div>

        {% for category, datatype_list in format.items() %}
            <div id="container-{{ category }}" class="card-container col-12 col-lg-6 m-0 p-1">
                <div id="card-{{ category }}" class="card m-1">
                    <div class="card-header" data-target="#card-body-wrap-{{ category }}">
                        <p style="float: left; margin: 0" class="btn-link text-reset" onclick="hideChart('{{ datatype }}')">Hide</p>
                        {{ category | safe }} 
						            <span id="head-{{ datatype}}"></span>
                        <p style="float: right; margin: 0" class="btn-link text-reset" onclick="">Pin</p>
                    </div>
                    <div id="card-body-wrap-{{ category }}" class="h-100 collapse show" style="transition: height 0.01s;">
                        <div class="card-body p-0">
                            <canvas id="canvas-{{ category }}" class="can" style="height: 276px;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
		{% endfor %}

    </div>
    </div>

    <script>
        let db_format = {{ format | tojson }};
        let no_chart = {{ no_chart | tojson}};
		const MAPBOX_KEY = "{{mapbox_key}}";
    </script>
    <script src="{{ url_for('static', filename='javascript/realtime.js') }}"></script>

    <!-- Map script has to come down here-->
    <script src="{{ url_for('static', filename='javascript/realtime_map.js') }}"></script>

    <!-- Initialize map, injecting URL containing API token -->
    <!--<script src="{{ maps_url }}"></script>-->
	</body>
{% endblock %}
